<div class="container">
    {{item.id}}
    {{item.oblast}}
    {{item.predmet}}
</div><br>
<div *ngIf="izmeniForm">
<form [formGroup]="izmeniForm" (ngSubmit)="izmeni(izmeniForm.value)" ngNativeValidate>
    <input type="text" formControlName="oblast" placeholder="oblast" required>
    <br>
    <input type="text" formControlName="predmet" placeholder="predmet" required>
    <br>
    <input type="submit" value="Izmeni">
</form>
</div>
