<div>
  <div *ngFor="let a of lista">
    {{a.id}}
    {{a.oblast}}
    {{a.predmet}}
    <button (click)="obrisi(a.id)">Obrisi</button>
    <button (click)="detalji(a.id)">Detalj</button>

  </div>
  <div>
    <form [formGroup]="dodajForm" (ngSubmit)="dodaj(dodajForm.value)" ngNativeValidate>
        <input type="text" formControlName="oblast" placeholder="oblast" required>
        <br>
        <input type="text" formControlName="predmet" placeholder="predmet" required>
        <br>
        <input type="submit" value="Dodaj">
    </form>
</div>
</div>
